DJANGO_SECRET_KEY=your-secrete-key-here

DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,api
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost

REDIS_URL=redis://localhost:6379/0

POSTGRES_DB=tasklist
POSTGRES_USER=tasklist_user
POSTGRES_PASSWORD=postgres_password_here

EMAIL_HOST_USER=example@gmail.com
EMAIL_HOST_PASSWORD=16 digit app password
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend

DEADLINE_CHECK_INTERVAL=60